# Editors
.project
*.bak
.settings
.*.md.html

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Documentation (all over)
*/docs/*

# Debug
*.log
*.log.*

# Uploaded Images
*/scrnCapture
*/scrnCapture_run*
*/guis/*
*/htmls/*
*/guis_run*/*
*/htmls_run*/*
*/images
*/imagesProcessed*
*/imagesProcessed_run*